@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter-Regular';
  src: url(/fonts/Regular-Bold.woff) format("woff");
}

@font-face {
  font-family: 'Inter-Light';
  src: url(/fonts/Inter-Light.woff) format("woff");
}
@font-face {
  font-family: 'Inter-Medium';
  src: url(/fonts/Inter-Medium.woff) format("woff");
}

@font-face {
  font-family: 'Inter-Bold';
  src: url(/fonts/Inter-Bold.woff) format("woff");
}

:root{
  --primary: 29 27 27;
  --primary2: 17 17 17;
  --secondary: 255 255 255;
  --accent: 225 255 0;
  --accent2: 46 5 209;
  --header: 12 12 12 0;
  --haccent: 123 255 0;
}

.dark{
  --primary: rgb(255, 255, 255);
  --primary2: 17 17 17;
  --secondary: rgb(29, 27, 27);
  --accent: 225, 255, 0;
  --accent2: rgb(46, 5, 209);
  --header: 12 12 12 0;
  --haccent: 123, 255, 0;
}

@layer base {
  body{
    @apply
    text-secondary
    font-regular
    
  }

  ul{
    @apply
    list-none
  }

  img{
    @apply
    block
    w-full
    h-auto
  }

  h1,h2,h3,h4,h5,h6{
    @apply
    font-bold
    font-thicker
  }
  

  p{
    @apply
    font-regular
  }

}

@layer components{
  /* Reusable components */
  .animate-type{
    @apply
    relative w-[max-content] font-mono
    before:absolute before:inset-0 before:animate-typewriter
  before:bg-white
    after:absolute after:inset-0 after:w-[0.125em] after:animate-caret
  after:bg-black
  }
  .animate-type2{
    @apply
    relative w-[max-content] font-mono
    before:absolute before:inset-0 before:animate-typewriter
  before:bg-black
    after:absolute after:inset-0 after:w-[0.125em] after:animate-caret
  after:bg-white
  }

 
.container2{
  @apply
  px-[15rem]
}
.container{
  @apply
  mx-[20rem]
}

.btn{
  @apply
  py-3
  px-7
  bg-white
  text-black
  border
  border-black
  transition-all
}
.btn:hover{
  @apply
  py-3
  px-7
  bg-black
  text-white
  border-[1px]
  border-white
  transition-all
}

.btn--v2{
  @apply
  py-3
  px-7
  bg-white
  text-black
  border
  border-black
  transition-all
}

.btn--v3{
  @apply
  py-3
  px-7
  bg-black
  text-white
  border
  border-black
  transition-all
}

.btn--v3:hover{
  @apply
  py-3
  px-7
  bg-white
  text-black
  border
  border-black
  transition-all
}

/* header */
.menu{
  @apply
  text-lg
}

.menu li{
  @apply
  hover:text-haccent
  transition-all
}

.active {
  @apply
  text-haccent
}

/* hero banner */
.banner{
  @apply
  bg-[url(../../../img/bg-banner2.jpg)]
  h-[100vh]
  bg-cover
  bg-center
  bg-no-repeat
}

.socialshb{
  @apply
  text-3xl
}

.socialshb li{
  @apply
  hover:text-haccent
  transition-all
}

/* about me section */
.aboutMe{
  @apply
  text-black
}

.socialam{
  @apply
  text-2xl
}

.socialam li{
  @apply
  hover:text-haccent
  transition-all
}

/* cta */
.cta__content{
  @apply
  text-black
}

  /* footer */
  .right ul li{
    @apply
    text-2xl
  }

  .socialsf li{
    @apply
    hover:text-haccent
    transition-all
  }
}